<template>
  <b-container>
    <todos></todos>
    <!--    <b-form-input type="text" v-model="search"/>-->
    <!--    <hr>-->
    <!--    <b-form-select v-model="limit" :options="options" @change="page = 1"/>-->
    <!--    <hr>-->
    <!--    <b-button variant="primary" @click="prevPage" :disabled="!canGoToPrev">-</b-button>-->
    <!--    <b-button variant="primary" @click="nextPage" :disabled="!canGoToNext">+</b-button>-->

    <!--    <hr>-->
    <!--    <b-list-group>-->

    <!--      <b-list-group-item v-for="todo in sortedTodos" :key="todo.id">-->
    <!--        {{ todo.title }}-->
    <!--        {{ todo.completed }}-->
    <!--      </b-list-group-item>-->
    <!--    </b-list-group>-->
  </b-container>

</template>

<script>
import Todos from "@/pages/todos";

export default {
  name: 'Index',
  components: {Todos},
  data: function () {
    return {
      url: 'https://jsonplaceholder.typicode.com/todos',
      todos: [],
      search: '',
      options: [10, 15, 20, 30],
      limit: 10,
      page: 1
    }
  },
  computed: {
    filteredTodos() {
      return this.todos.filter(todo => todo.title.includes(this.search))
    },
    sortedTodos() {
      return [...this.filteredTodos].sort((todo) => todo.completed ? 1 : -1)
    },
    axiosParameters() {
      return {
        _limit: this.limit,
        _page: this.page
      }
    },
    canGoToNext() {
      return this.todos.length && this.todos.length === this.limit
    },
    canGoToPrev() {
      return this.page !== 1
    },
  },
  // created() {
  //   this.getTodos()
  // },
  watch: {
    axiosParameters: function (nv, ov) {
      if (nv._limit !== ov._limit && nv._page !== 1)
        this.page = 1
      else
        this.getTodos()
    }
  },
  methods: {
    async getTodos() {
      const {data} = await this.axios.get(this.url, {
        params: this.axiosParameters
      })
      this.todos = data
    },
    nextPage() {
      this.page++
    },
    prevPage() {
      this.page--
    },
  }
}
</script>

<style>
</style>
