<template>
  <div>
    <ul>
      <li>
        <router-link :to="{name:'todos-id', params:{id:1}}">Todo 1</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:2}}">Todo 2</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:3}}">Todo 3</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:4}}">Todo 4</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:5}}">Todo 5</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:6}}">Todo 6</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:7}}">Todo 7</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:8}}">Todo 8</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:9}}">Todo 9</router-link>
      </li>
      <li>
        <router-link :to="{name:'todos-id', params:{id:10}}">Todo 10</router-link>
      </li>
    </ul>
    <router-view></router-view>
  </div>

</template>

<script>
import Index from "./index"
import axios from 'axios'
import VueAxios from 'vue-axios'
import Vue from "vue";

Vue.use(VueAxios, axios)


export default {
  components: {Index},
  data: function () {
    return {
      url: 'https://jsonplaceholder.typicode.com/todos?_limit=10',
      todos1: [],
    }
  },

  name: "todos",
  mounted: (
      async function getTodos1() {
        const {data} = await this.axios.get(this.url)
        this.todos1 = data
      })
}

</script>

<style scoped>

</style>