<template>
  <div>
    <ul>
      <li>
        <router-link :to="{name:'users-id', params:{id:1}}">User 1</router-link>
      </li>
      <li>
        <router-link :to="{name:'users-id', params:{id:2}}">User 2</router-link>
      </li>
      <li>
        <router-link :to="{name:'users-id', params:{id:3}}">User 3</router-link>
      </li>
    </ul>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Users"
}
</script>

<style scoped>

</style>