<template>
  <div>header
    <!--   <a href="/users">Users</a>-->
    <!--   <a href="/users/1">User 1</a>-->
    <!--   <router-link :to="{name :'users'}">Users</router-link>-->
    <hr>
    <router-link :to="{name :'todos'}">Todos</router-link>
    <router-view></router-view>
    <hr>
    footer
  </div>
</template>

